body {
    padding-bottom: 100px;
    font-smoothing: antialiased;
}

p {
    margin: 0 0 1em;
}

input,
button {
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
}

a {
    transition: all 0.2s;
}

code {
    background-color: transparent;
    color: $brand-info;
}

[v-cloak] {
    top: 0;
    left: 0;
    background: $body-bg;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.main {
    padding: 0 !important;
}

.bg-white {
    background-color: #fff;
}
