body {
    // padding-top: 100px;
    padding-bottom: 100px;
    font-smoothing: antialiased;
}

p {
    margin: 0 0 1em;
}

input,
button {
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
}

a {
    transition: all 0.2s;
}

code {
    background-color: transparent;
    color: $brand-primary;
}

.main {
    padding: 0 !important;
}

.bg-white {
    background-color: #fff;
}
