#main {
    position: relative;
    padding-bottom: $footer-height;
    padding-top: $header-height + 30;
}

.close {
    font-size: 34px;
    font-weight: 300;
    line-height: 24px;
    opacity: 0.6;
    transition: all 0.2s;

    &:hover {
        opacity: 1;
    }
}

.popover {
    border: none;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
}

.content {
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .content {
        margin-left: $sidebar-width;
    }
}

.container-sidebar {

}
