.modal-dialog {
  margin: 15px;
}

.modal-content {
  border: 0;
}

.modal-header {
  padding: 15px;

  > .close {
    font-size: $modal-title-font-size;
    font-weight: bold;
  }
}

.modal-body {
  font-size: .9rem;
  padding: 15px;
}

.modal-title {
  color: $modal-title-color;
  font-size: $modal-title-font-size;
  font-weight: bold;
}

.modal-footer {
  border: 0;
  justify-content: flex-start;
  padding: 15px;

  .btn-secondary {
    background: $gray-dark;
    color: $gray-lightest;
  }
}
