.sidebar {
    display: none;

    @media (min-width: 768px) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        background-color: #fff;
        width: $sidebar-width;
        height: calc(100%);

        &.is-collapsed {
            width: 90px;
        }
    }
}

.sidebar-brand {
    height: 150px;
    background-color: $gray-lightest;

    > .logo {
        padding-top: 51px;
        width: 200px;
        margin: auto;
        display: block;
        visibility: visible;;
        opacity: 1;
    }

    > .logo-small {
        visibility: hidden;
        opacity: 0;
    }

    .is-collapsed & {
        .logo {
            visibility: hidden;
            opacity: 0;
        }

        .logo-small {
            position: absolute;
            visibility: visible;
            opacity: 1;
            width: 60px;
            top: 0;
            padding-top: 45px;
            margin-left: 15px;
        }
    }
}

.sidebar-item {
    position: relative;

    &.open {
        background-color: $gray-lightest;
    }

    .sidebar.is-collapsed & {
        &:hover {
            .sidebar-item-text {
                display: block;
                opacity: 1;
                visibility: visible;
                position: absolute;
                top: 0;
                left: 0;
                width: 90px;
                height: 60px;
                text-align: center;
                padding-top: 20px;
                font-size: .9rem;
                color: $gray-lightest;
            }

            .sidebar-item-icon {
                visibility: hidden;
                opacity: 0;
                left: 0;
                color: $body-color;
            }
        }
    }
}

.sidebar-item-text {
    .sidebar.is-collapsed & {
        display: none;
    }
}

.sidebar-item-icon {
    position: absolute;
    left: 20px;
    font-size: 1.5rem;
    top: 0;
    width: 25px;
    text-align: center;
    padding: 10px 0;

    .sidebar.is-collapsed & {
        left: 25px;
        padding: 0;
        font-size: 2rem;
    }
}

.sidebar-item-arrow {
    &:before {
        content: "\f067";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: .8rem;
        position: absolute;
        right: 0;
        margin-right: 15px;
        padding-top: 5px;
        transform: rotate(0deg);
        transition: transform .2s;
    }

    &.open:before {
        content: "\f00d";
    }

    .sidebar.is-collapsed & {
        opacity: 0;
        visibility: hidden;
    }
}

.sidebar-item-children {
    list-style: none;
    background-color: $gray-dark;
    padding: 0;

    .is-collapsed & {
        list-style: none;
        background-color: $gray-dark;
        padding: 0;
        position: absolute;
        left: 90px;
        top: 0;
        width: 240px;
        color: $gray-lightest;
    }

    > .sidebar-item {
        > a {
            font-size: .9rem;
            color: $gray-lightest;
            display: block;
            position: relative;
            padding: 18px;
            padding-left: 70px;
        }
    }
}

.nav-sidebar {
    > li {
        a {
            color: $body-color;
            padding: 16px 20px 14px 62px;
            font-weight: bolder;
            font-size: 1.05rem;
            display: block;
            position: relative;
            height: 60px;
        }

        a:hover {
            background-color: darken($link-color, 5%) !important;
            color: $gray-lightest;
            text-decoration: none;

            .sidebar.is-collapsed & {
                color: $body-color;
            }
        }
    }
}
