.table-hover {
    > tbody > tr,
    > tbody > tr > th,
    > tbody > tr > td {
        transition: all 0.2s;
    }
}

.table {
    td, th {
        padding-top: 1.3rem !important;
        padding-bottom: 1.3rem !important;
        border: none !important;

        &:first-child {
            padding-left: 30px;
        }

        &:last-child {
            padding-right: 30px;
        }

        &.actions {
            text-align: right;
            font-size: 1.3rem;
        }
    }

    thead {
        th {
            text-transform: uppercase;
            font-weight: bolder;
        }
    }
}
