// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Create grayscale
$gray-dark:                 #47474f !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme
$brand-primary:             #ff6600;
$brand-success:             #4caf50;
$brand-info:                #00bcd4;
$brand-warning:             #9c27b0;
$brand-danger:              #f44336;
$brand-inverse:             $gray-dark !default;


// UI Height and Widths
//
// Header, Sidebar, and Footer height and widths

$header-height:             70px;
$footer-height:             110px;
$sidebar-width:             300px;


// Body
//
// Settings for the `<body>` element.

$body-bg: #eee !default;

// Breadcrumbs

$breadcrumb-bg: #fff !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-serif:      "Roboto Slab", serif !default;
$font-family-monospace:  "Roboto Mono", monospace !default;
$font-family-base:       $font-family-sans-serif !default;


// Cards

$card-header-color:     #ff0000 !default;
$card-header-font-size: 1.1rem;
$card-cap-bg:           $gray-dark !default;


// Forms

$input-bg:                       transparent;
$input-bg-disabled:              transparent;
$input-group-addon-border-color: transparent !important;


// Navbar

$navbar-brand-padding-y:   1px !default;
$navbar-divider-padding-y: .425rem !default;

// Jumbotron

$jumbotron-bg: $gray-lightest;

// Blockquotes

$blockquote-border-color: $gray-dark !default;

// Progress

$progress-bg: #fff !default;
