.alert, .badge, .btn, .card, .modal-content, .progress, .jumbotron {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
}

.navbar {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
}

.card .table,
.tab-content .table {
  box-shadow: none;
}
